.App {
  text-align: center;
  width: 550px;
  margin: 0 auto;
  color: aliceblue;
  margin-top: 20px;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0; 
}

.header--title{
  display: flex
}

.logo{
  width: 3em;
}

.inputs{
  width: 477px;
  margin: 0 auto;
}

.input--fields{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

input{
  height: 2rem;
  width: 225px;
  border-radius: 5px;
  border-color: thistle;
  text-indent: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
}

button{
  height: 3.5rem;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: aliceblue;
  font-size: 1.3em;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 477px;
}

.meme > img{
  border-radius: 10px;
  width: 477px;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}